{% extends 'base.html' %}

{% block content %}
    <div class="content">
        <h2>Свяжитесь с нами</h2>
    </div>

    <div class="content">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.name.label(class="form-label") }}
                {{ form.name(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.email.label(class="form-label") }}
                {{ form.email(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.message.label(class="form-label") }}
                {{ form.message(class="form-control", rows="5") }}
            </div>
            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
    </div>
{% endblock %}
