{% extends 'base.html' %}

{% block admin_menu %}
    {% if post %}
        <li><a href="{{ url_for('delete_post', post_id=post.id) }}">Удалить пост</a></li>
        <li><a href="{{ url_for('edit_post', post_id=post.id) }}">Редактировать пост</a></li>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="form-group">
                <label for="inputEmail" class="font-weight-bold">Email:</label>
                <input type="email" class="form-control" id="inputEmail" value="{{ user_info.email }}">
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <h1 class="display-4">Добро пожаловать в ваш Личный кабинет, {{ user_info.username }}!</h1>

        <div class="row mt-4">
            <div class="col-md-12">
                <!-- График атак -->
                <div id="targetedAttacksChart" style="height: 400px;"></div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-12">
                <p class="lead"><h2>Исходя из графика целенаправленных атак, мы предлагаем следующие методы эффективной защиты вашей организации, которые вы можете обсудить на <a href="{{ url_for('forum') }}">форуме</a>:</h2></p>
                <div class="table-responsive content">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Название</th>
                                <th>Описание</th>
                                <th>Изображение</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="table-header">Защита от Фишинга</td>
                                <td class="table-description">
                                    <ul>
                                        <li>Предоставление обучения сотрудникам по распознаванию фишинговых попыток.</li>
                                        <li>Регулярная проведение симулированных фишинг-кампаний для оценки уровня готовности персонала.</li>
                                        <li>Использование антивирусных программ и фильтров электронной почты для выявления и блокировки фишинговых сообщений.</li>
                                    </ul>
                                </td>
                                <td class="table-image"><img src="{{ url_for('static', filename='images/fishing_image.jpg') }}" alt="Защита от Фишинга" class="img-thumbnail"></td>
                            </tr>

                            <tr>
                                <td class="table-header">Защита от DDoS-атак</td>
                                <td class="table-description">
                                    <ul>
                                        <li>Использование средств мониторинга сетевого трафика для раннего обнаружения DDoS-атак.</li>
                                        <li>Применение технологий CDN (Content Delivery Network) для распределения нагрузки и смягчения эффектов DDoS.</li>
                                        <li>Разработка и реализация плана реагирования на DDoS-атаки.</li>
                                    </ul>
                                </td>
                                <td class="table-image"><img src="{{ url_for('static', filename='images/ddos_image.jpg') }}" alt="Защита от DDoS-атак" class="img-thumbnail"></td>
                            </tr>

                            <tr>
                                <td class="table-header">Защита от APT</td>
                                <td class="table-description">
                                    <ul>
                                        <li>Внедрение передовых систем обнаружения вторжений (IDS) и систем предотвращения вторжений (IPS).</li>
                                        <li>Проведение аудита безопасности для выявления слабых мест в системе.</li>
                                        <li>Мониторинг и анализ сетевой активности для выявления необычных или подозрительных паттернов.</li>
                                    </ul>
                                </td>
                                <td class="table-image"><img src="{{ url_for('static', filename='images/apt_image.jpg') }}" alt="Защита от APT" class="img-thumbnail"></td>
                            </tr>

                            <tr>
                                <td class="table-header">Защита от Социальной инженерии</td>
                                <td class="table-description">
                                    <ul>
                                        <li>Организация обучающих программ по социальной инженерии для сотрудников.</li>
                                        <li>Внедрение мер безопасности, таких как двухфакторная аутентификация, для предотвращения утечек учетных данных.</li>
                                        <li>Регулярная проверка безопасности на основе социальной инженерии для оценки уровня подготовки персонала.</li>
                                    </ul>
                                </td>
                                <td class="table-image"><img src="{{ url_for('static', filename='images/soc.ing_image.jpg') }}" alt="Защита от Социальной Инженерии" class="img-thumbnail"></td>
                            </tr>

                            <tr>
                                <td class="table-header">Защита от Мальвары</td>
                                <td class="table-description">
                                    <ul>
                                        <li>Установка и регулярное обновление антивирусных программ и антимальварных средств.</li>
                                        <li>Обучение сотрудников по правилам безопасности при работе с электронной почтой и веб-сайтами.</li>
                                        <li>Регулярные проверки наличия мальвары на компьютерах и сетевых устройствах.</li>
                                    </ul>
                                </td>
                                <td class="table-image"><img src="{{ url_for('static', filename='images/malvara_image.jpg') }}" alt="Защита от Мальвары" class="img-thumbnail"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                Highcharts.chart('targetedAttacksChart', {
                    chart: {
                        type: 'column',
                        backgroundColor: 'transparent',
                        style: {
                            fontFamily: 'Arial, sans-serif'
                        }
                    },
                    title: {
                        text: 'Целенаправленные атаки',
                        style: {
                            color: '#333333',
                            fontSize: '24px'
                        }
                    },
                    xAxis: {
                        categories: ['Фишинг', 'DDoS', 'APT', 'Социальная инженерия', 'Мальвара'],
                        labels: {
                            style: {
                                color: '#333333'
                            }
                        }
                    },
                    yAxis: {
                        title: {
                            text: 'Количество случаев',
                            style: {
                                color: '#333333'
                            }
                        },
                        labels: {
                            style: {
                                color: '#333333'
                            }
                        }
                    },
                    legend: {
                        itemStyle: {
                            color: '#333333'
                        }
                    },
                    plotOptions: {
                        column: {
                            color: '#4CAF50'
                        }
                    },
                    series: [{
                        name: 'Целенаправленные атаки',
                        data: [15, 10, 8, 12, 7]
                    }]
                });
            });
        </script>

        <form action="{{ url_for('logout') }}" method="get" class="logout-button">
            <button type="submit">Выйти</button>
        </form>
    </div>
</div>
{% endblock %}
